.grid{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

}

.grid__row{

    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 78px;
    margin-right: -5px;
}
.grid__row-2{

    margin-top: -32px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -5px;
}

.grid__full-width{
    width: 100%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 23%;

}

.grid__column-2-3{
    padding-left: 5px;
    padding-right: 5px;
    width: 30%;

}
footer{

    
    padding-top: 30px;
    background-color: #1A1818;
}
.footer__heading{

}
.footer-list{
    padding: 0px;
    list-style: none;
}
.footer-item{
    padding: 0px;

}
.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,0.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 60px;
}
.is-divider-2 {
    height: 1px;
    display: block;
    background: #a4a4a4
}
p {
    color: #a4a4a4;
    font-size: 14px;
    width: 90%;
    margin-bottom: 0.8em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    font-size: 23px;
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.grid__column-2-4-2{
    margin-top: -18px;
    width: 50%;
    
}
.footer__img{
    margin-bottom: -5px;
    padding: 7px;
    padding-left: 0px;
    width: 24px;
    height: 24px;
}
.footer-item__link{
    margin-bottom: 7px;
    margin-left: 10px;
    text-decoration: none;
    color: #a4a4a4;
}
.p-x:hover{
    color: red;
}
.p-text{
    color: #a4a4a4;
    font-size: 14px;
    width: 90%;
    margin-bottom: 0.8em;
    margin-top: -28px;
    margin-left: 40px;
}
.p-text:hover{
    color: red;
}
.p-text-2{
    margin-bottom: 0px;
}
.img__mxh{
    margin-right: 8px;
   

}
.input__email{
    width: 323px;
    height: 48px;
    margin-top: 30px;
    margin-bottom: 88px;
}
.h3-2{
    margin-top: 40px;
}
.button__register{
    width: 145px;
    height: 53px;
    margin-top: 37px;
    margin-bottom: 88px;
    background-color: red;
    color: aliceblue;
    margin-left: -3px;
   display: inline;
   
}
.img__card{
    margin-top: 40px;
}
.end__footer{
    width: 100%;
    height: 66px;
    background-color: black;
    color: #a4a4a4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-style: normal;
    padding: 4px;
}

/**/
.grid-main{
    
   margin-left: 133px;
}
.grid__row-main{
    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.grid__column-x{
    width: 47%;
}
.row__child{
    
    display: flex;
}

.img-main{
    width: 100%;
    height: auto;
}
.grid__column-xx{
    width: 30%;
}
.img-ship{
    width: 100%;
    height: auto;
}
.grid__column-xxx{
    width: 25%;
}
.img-shoes-child{
    width: 100%;
    height: auto;
    opacity: 0.5;
}
.button-x{
    width: 156px;
    height: 42px;
    background-color: none;
    border: 2px;
    font-style: bold;
    border-style: groove;
    border-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.column-main-child{
    width: 17%;
    margin-right: 22px;
    text-align: center;
    border: 1px;
    border-color: black;
    border-style: groove;
    padding-bottom: 16px;
}
.shoes-name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 12px;
    margin-bottom: 12px;
}