:root {
    --primary-color: #c30005;
}
html {
    background-color: #000000;
}
html {
    overflow-x: hidden;
}
html {
    background-color: #5b5b5b;
}
body{
    color: #353535;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    line-height: 1.6;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 0;
}
#wrapper{
    background-color: #fff;
    position: relative;
}
/*-----------------header----------------*/
.header{
    width: 100%;
    z-index: 30;
    position: relative;
    background-size: cover;
    background-position: 50% 0;
    transition: background-color .3s, opacity .3s;
    display:block;
}
.header-bg-color, .header-wrapper {
    background-color: rgba(0,0,0,0.9);
}
.header-wrapper {
    width: 100%;
    z-index: 30;
    position: relative;
    background-size: cover;
    background-position: 50% 0;
    transition: background-color .3s, opacity .3s;
}
.header-main {
    height: 80px;
}
.header-main {
    z-index: 10;
    position: relative;
}
.header .flex-row {
    height: 100%;
}
.container{
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.flex-row {
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
/*---------logo----------*/
#logo {
    width: 200px;
}
.logo-center .logo {
    -ms-flex-order: 2;
    order: 2;
    text-align: center;
    margin: 0 30px;
}
.logo {
    line-height: 1;
    margin: 0;
}
.flex-col {
    max-height: 100%;
}
.nav-dark .logo a {
    color: #fff;
}

.logo a {
    text-decoration: none;
    display: block;
    color: #446084;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
}
a {
    color: #334862;
    text-decoration: none;
}
a{
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
a {
    background-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
#logo img {
    padding: 10px 0;
}
#logo img {
    max-height: 80px;
}
.header-wrapper:not(.stuck) .logo img {
    transition: max-height .5s;
}
.logo-center .logo img {
    margin: 0 auto;
}
.nav-dark .header-logo{
    display: none !important;
}
.logo img {
    display: block;
    width: auto;
}
img {
    transition: opacity 1s;
    opacity: 1;
}
img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
img {
    border-style: none;
}
/*--------left-header---------*/
.logo-center .flex-left {
    -ms-flex-order: 1;
    order: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
}
.flex-left {
    margin-right: auto;
}
.flex-col {
    max-height: 100%;
}
.nav-left {
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.nav {
    width: 100%;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}
.nav{
    margin: 0;
    padding: 0;
}
.nav-dark .nav>li>a{
    color: rgba(255,255,255,0.8);
}
.nav > li > a {
    font-weight: 700;
}
.nav > li > a {
    font-family: "Roboto", sans-serif;
}
.nav>li>a {
    font-size: .8em;
}
.nav-uppercase>li>a {
    letter-spacing: .02em;
    text-transform: uppercase;
    font-weight: bolder;
}
.nav>li>a{
    color: rgba(102,102,102,0.85);
    transition: all .2s;
}
.nav>li>a {
    padding: 10px 0;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
}
.is-small{
    font-size: .8em;
}
a {
    color: #334862;
    text-decoration: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-color: transparent;
}
/*--------right-header---------*/
.logo-center .flex-right {
    -ms-flex-order: 3;
    order: 3;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
}
.flex-right {
    margin-left: auto;
}
.flex-col {
    max-height: 100%;
}
.nav-right {
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.nav-dark .nav>li.header-divider {
    border-color: rgba(255,255,255,0.1);
}
.nav>li.header-divider {
    border-left: 1px solid rgba(0,0,0,0.1);
    height: 30px;
    vertical-align: middle;
    position: relative;
    margin: 0 7.5px;
}
.nav>li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin: 0 7px;
    transition: background-color .3s;
}
.container{
    max-width: 1230px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container:after, .row:after, .clearfix:after, .clear:after {
    content: "";
    display: table;
    clear: both;
}
.top-divider {
    margin-bottom: -1px;
    border-top: 1px solid currentColor;
    opacity: 0.1;
}
.full-width{
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: block;
}
/*----------header-bottom---------*/
.header-bottom {
    background-color: #dcdcdc;
    min-height: 25px;
    z-index: 9;
    position: relative;
    min-height: 35px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
}
.flex-center {
    margin: 0 auto;
}
.nav-center {
    -ms-flex-pack: center;
    justify-content: center;
}

.nav {
    width: 100%;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}
.nav{
    margin: 0;
    padding: 0;
}

ul {
    list-style: disc;
}

user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.header-bottom .nav > li.menu-item {
    margin: 0 20px;
}
.nav li:first-child {
    margin-left: 0 !important;
}

.nav>li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin: 0 7px;
    transition: background-color .3s;
}
.header-bottom .nav > li.menu-item a {
    border-bottom: solid 3px #dcdcdc;
    padding-top: 15px;
}
.header-bottom .nav > li.current-menu-item > a{
    color: rgba(17,17,17,0.85);
    border-bottom: solid 3px #c30005 !important;
    padding-top: 15px;
}
.header-bottom-nav > li > a {
    line-height: 25px;
}
.nav-size-medium>li>a {
    font-size: .9em;
}
.nav-uppercase>li>a {
    letter-spacing: .02em;
    text-transform: uppercase;
    font-weight: bolder;
}
.fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}
.header-bg-image {
    background-position: 50% 0;
    
}
.header-bg-color {
    background-position: 50% 0;    
}
.header-bg-color {
    background-color: rgba(255,255,255,0.9);
}
/*-------------------------------------MAIN-------------------------*/
#main {
    background-color: #fff;
    position: relative;
}
.page-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}
.row {
    width: 100%;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 850px)
.large-12 {
    max-width: 100%;
    flex-basis: 100%;
}
.col {
    position: relative;
    margin: 0;
    padding: 0 15px 30px;
    width: 100%;
}

.col:first-child .col-inner {
    margin-left: auto;
    margin-right: 0;
}
.col-inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.row .row-large:not(.row-collapse){
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 0;
}
.row .row:not(.row-collapse){
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
}
.row.row-large {
    max-width: 1110px;
}

.row{
    width: 100%;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.row-large>.col {
    padding: 0 30px 30px;
    margin-bottom: 0;
}
.pb-0 {
    padding-bottom: 0 !important;
}
@media screen and (min-width: 850px)
.large-6 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}
.col{
    position: relative;
    margin: 0;
    padding: 0 15px 30px;
    width: 100%;
}
.uppercase {
    line-height: 1.2;
    text-transform: uppercase;
}
.uppercase{
    line-height: 1.05;
    letter-spacing: .05em;
    text-transform: uppercase;
}
h3 {
    font-size: 1.25em;
    color: #555;
    width: 100%;
    margin-top: 0;
    margin-bottom: .5em;
    text-rendering: optimizeSpeed;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
form{
    margin-bottom: 1.3em;
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}
p.form-row-wide {
    clear: both;
}
form p {
    margin-bottom: .5em;
}
p {
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
label {
    color: #222;
    font-weight: bold;
    display: block;
    font-size: .9em;
    margin-bottom: 0.4em;
    cursor: default;
}
.woocommerce form .form-row .required {
    visibility: visible;
}
input[type='text']{
    appearance: none;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 0 .75em;
    height: 2.507em;
    font-size: .97em;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    transition: color .3s, border .3s, opacity .3s;
}
input{
    margin-bottom: 1em;
    touch-action: manipulation;
    overflow: visible;
    font: inherit;
}
input[type='password']{
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 0 .75em;
    height: 2.507em;
    font-size: .97em;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    transition: color .3s, border .3s, opacity .3s;
}
.woocommerce-form-login .button {
    margin-bottom: 0;
}
button[type="submit"]{
    background-color: #c30005;
    .button, button{
    margin-bottom: 1em;
}
.button, input[type='submit'], input[type='submit'].button, input[type='reset'].button, input[type='button'].button {
    color: #fff;
    background-color: #446084;
    background-color: var(--primary-color);
    border-color: rgba(0,0,0,0.05);
}
.button, button{
    position: relative;
    display: inline-block;
    background-color: transparent;
    text-transform: uppercase;
    font-size: .97em;
    letter-spacing: .03em;
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    color: currentColor;
    text-decoration: none;
    border: 1px solid transparent;
    vertical-align: middle;
    border-radius: 0;
    margin-top: 0;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    max-width: 100%;
    transition: transform .3s, border .3s, box-shadow .3s, opacity .3s, color .3s;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
button,[type="submit"] {
    -webkit-appearance: button;
}

button{
    overflow: visible;
    font: inherit;
}
.button, button, input, textarea, select, fieldset {
    margin-bottom: 1em;
}
.button, input[type='submit'], input[type='submit'].button, input[type='reset'].button, input[type='button'].button {
    color: #fff;
    background-color: #446084;
    background-color: var(--primary-color);
    border-color: rgba(0,0,0,0.05);
}
.button, button, input[type='submit'], input[type='reset'], input[type='button'] {
    position: relative;
    display: inline-block;
    background-color: transparent;
    text-transform: uppercase;
    font-size: .97em;
    letter-spacing: .03em;
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    color: currentColor;
    text-decoration: none;
    border: 1px solid transparent;
    vertical-align: middle;
    border-radius: 0;
    margin-top: 0;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    max-width: 100%;
    transition: transform .3s, border .3s,box-shadow .3s, opacity .3s, color .3s;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
button, [type="submit"] {
    -webkit-appearance: button;
}
button, [type="submit"] {
    cursor: pointer;
}
button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
button{
    text-transform: none;
}
button{
    overflow: visible;
}
button{
    font: inherit;
}
.inline {
    display: inline;
}
input[type='checkbox']{
    display: inline;
    margin-right: 10px;
    font-size: 16px;
}
[type="checkbox"]{
    box-sizing: border-box;
    padding: 0;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.row-large>.col {
    padding: 0 30px 30px;
    margin-bottom: 0;
}
.pb-0 {
    padding-bottom: 0 !important;
}
@media screen and (max-width: 849px)
.col {
    padding-bottom: 30px;
}
.col {
    position: relative;
    margin: 0;
    padding: 0 15px 30px;
    width: 100%;
}
.pb-0 {
    padding-bottom: 0 !important;
}

input[type='email']{
    appearance: none;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 0 .75em;
    height: 2.507em;
    font-size: .97em;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    transition: color .3s, border .3s, opacity .3s;
}
input[type='password']{
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 0 .75em;
    height: 2.507em;
    font-size: .97em;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    transition: color .3s, border .3s,opacity .3s;
}
.woocommerce-form-register .woocommerce-privacy-policy-text {
    margin-bottom: 1.5em;
}
.woocommerce-privacy-policy-text {
    font-size: 85%;
}

/*------------------FOOTER-----------------------*/
.footer-wrapper {
    width: 100%;
    position: relative;
}
footer{
    display: block;
}
.section.dark {
    background-color: #666;
}
.dark{
    color: #f1f1f1;
}
.section {
    padding: 30px 0;
    position: relative;
    min-height: auto;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-align: center;
    align-items: center;
}
.bg-fill {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}
.section-bg{
    width: 100%;
    overflow: hidden;
}

.relative {
    position: relative !important;
}
.section-content {
    z-index: 1;
    width: 100%;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.sec_footer .row-top {
    border-bottom: solid 1px #dae1e7;
    margin-bottom: 2em;
}
.align-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.large-3 {
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}
.medium-6 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}
.small-12 {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}
.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,0.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}
.sec_footer p {
    color: #a4a4a4;
    font-size: 14px;
    margin-bottom: 0.8em;
}
.text-left {
    text-align: left;
}
.icon-box-left{
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
}
.sec_footer .icon-box-img {
    width: 14px !important;
}

.icon-box-left .icon-box-img{
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 0;
    max-width: 200px;
}
.icon-box .icon-box-img {
    margin-bottom: 1em;
    max-width: 100%;
    position: relative;
}
.icon-box-left .icon-box-img+.icon-box-text {
    padding-left: 1em;
}

.icon-box-left .icon-box-text{
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}
.last-reset *:last-child {
    margin-bottom: 0;
}

.sec_footer p {
    color: #a4a4a4;
    font-size: 14px;
    margin-bottom: 0.8em;
}
ul.ul-reset {
    margin: 0;
    padding: 0;
}
.mona_sidebar_footer ul {
    margin-top: -0.5em;
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.mona_sidebar_footer ul {
    margin: 0;
}
ul.menu>li{
    list-style: none;
    margin-bottom: .3em;
    text-align: left;
    margin: 0;
}
.mona_sidebar_footer ul.menu>li+li{
    border-top: 0px dashed rgba(238, 238, 238, 0.3);
}
.dark ul.menu>li+li{
    border-color: rgba(255,255,255,0.08);
}
.col+.col .col-inner {
    margin-right: auto;
    margin-left: 0;
}
.col-inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.col-inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.social-icons {
    display: inline-block;
    vertical-align: middle;
    font-size: .85em;
    color: #999;
}